@page
@model ProyectoCiclo3.App.Frontend.Pages.FormAeropuertoModel
@{
}


<div class="text-center">
<form method="post">
  <label for="Nombre" class="form-label">Nombre:</label>
  <input type="text" class="form-control" placeholder="Nombre"asp-for="Aeropuerto.nombre">
  
  <label for="Ciudad" class="form-label">Ciudad:</label>
  <input type="text" class="form-control" placeholder="Ciudad"asp-for="Aeropuerto.ciudad">
  
  <label for="Pais" class="form-label">Pais:</label>
  <input type="text" class="form-control" placeholder="Pais"asp-for="Aeropuerto.pais">
  
  <label for="Coord_x" class="form-label">Coord_x:</label>
  <input type="coord_x" class="form-control" placeholder="Coord_x"asp-for="Aeropuerto.coord_x">
  
  <label for="Coord_y" class="form-label">Coord_y:</label>
  <input type="coord_y" class="form-control" placeholder="Coord_y"asp-for="Aeropuerto.coord_y">
  <hr>
  <button type="submit" class="btn btn-success">Enviar</button>
</form>
</div>
