@page
@model ProyectoCiclo3.App.Frontend.Pages.FormAeropuertoModel
@{
}


<div class="text-center">
<form method="post">
  <label for="Nombre" class="form-label">Nombre:</label>
  <input type="text" class="form-control" placeholder="Nombre"asp-for="Aeropuerto.nombre">
  
  <label for="Ciudad" class="form-label">Ciudad:</label>
  <input type="text" class="form-control" placeholder="Ciudad"asp-for="Aeropuerto.ciudad">
  
  <label for="Pais" class="form-label">Pais:</label>
  <input type="text" class="form-control" placeholder="Pais"asp-for="Aeropuerto.pais">
  
  <label for="Direcci贸n" class="form-label">Direcci贸n:</label>
  <input type="text" class="form-control" placeholder="Direcci贸n"asp-for="Aeropuerto.direcci贸n">
  
  <label for="Email" class="form-label">Email:</label>
  <input type="email" class="form-control" placeholder="Email"asp-for="Aeropuerto.email">
  
  <hr>
  <button type="submit" class="btn btn-success">Enviar</button>
</form>
</div>
