@page
@model ProyectoCiclo3.App.Frontend.Pages.EditAvionModel
@{
    var avion = Model.Avion;
}
 
<div class="text-center">
  <form method="post">
  <label for="nombre" class="form-label">Marca:</label>
  
  <label for="tipo" class="form-label">Modelo:</label>
  
  <label for="int" class="form-label">Num_Asientos:</label>
  
  <label for="tipo" class="form-label">Wc:</label>
  
  <label for="tipo" class="form-label">Cap_Maxima:</label>
  <input type="text" class="form-control" id="cap_maxima" name="cap_maxima" placeholder="Cap_Maxima"asp-for="@avion.cap_maxima">
  <hr>
  <button type="submit" class="btn btn-success">Enviar</button>
</form>
</div>
