@page
@model ProyectoCiclo3.App.Frontend.Pages.EditRutaModel
@{
    var ruta = Model.Ruta;
}
 
<div class="text-center">
<form method="post">
  
  <label for="origen" class="form-label">Origen:</label>
  
  <label for="destino" class="form-label">Destino:</label>
  
  <label for="tiempo_estimado" class="form-label">Tiempo_Estimado:</label>
  <input type="int" class="form-control" id="tiempo_estimado" name="tiempo_estimado" placeholder="Tiempo_Estimado"asp-for="@ruta.tiempo_estimado">
  <hr>
  <button type="submit" class="btn btn-success">Enviar</button>
</form>
</div>
