@page
@{
}

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">origen</th>
      <th scope="col">destino</th>
      <th scope="col">tiempo_estimado</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Bogotá</td>
      <td>Toronto</td>
      <td>5H55M</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Mexico</td>
      <td>Medellin</td>
      <td>4H20M</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Bogotá</td>
      <td>Santa Marta</td>
      <td>1H35M</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Chile</td>
      <td>Bogotá</td>
      <td>5H45M</td>
    </tr>
  </tbody>
</table>
