@page
@model IndexModel
@{
    ViewData["Title"] = "VuelateYA";
}

<div class="text-center">
    <img alt="", src="https://i.blogs.es/38796d/vuelo/1366_2000.jpg" img=center sizes="100vw">
   <h4>Los Vuelos más Baratos del Mercado </h4>
</div>

<div class="container text-center text-black bg-light">
    
    <h3>Destinos Más Candentes </h3>
</div>

<!-- PROMOS-->
<section class="py-5">
<div class="container">
 <div class="row">
   <div class="col-md-3">
   <div class="card text-center border-primary">
      <div class="card-body">
      <h3>Promo1</h3>
<p>
<h5>VuelateYa Costa Caribe<h5>
</p>
</div>
</div>
        </div>
            <div class="col-md-3">
                 <div class="card text-center bg-primary text white">
                    <div class="card-body">
                        <h3>Promo2</h3>
                        <p>
                            <h5>VuelateYa Eje Cafetero<h5>
                        </p>
                    </div>
                </div>

            </div>
                <div class="col-md-3">
                    <div class="card text-center border-primary">
                        <div class="card-body">
                            <h3>Promo3</h3>
                            <p>
                               <h5> VuelateYa Guajira<h5>
                            </p>
                        </div>
                    </div>
                </div>
<div class="col-md-3">
    <div class="card text-center bg-primary text white">
      <div class="card-body">
      <h3>Promo4</h3>
<p>
<h5>VuelateYa Amazonas<h5>
</p>
</div>
</div>
</div>
</div>
</div>
</div>
</section>