@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <img alt="", src="https://i.blogs.es/38796d/vuelo/450_1000.jpg"  sizes="200vw">
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    aqui estoy
</div>