@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <img alt="", src="https://i.blogs.es/38796d/vuelo/450_1000.jpg"  sizes="200vw">
    <p>Los Vuelos más Baratos del mercado <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    aqui estoy
</div>

<!-- PROMOS-->
<section class="py-5">
<div class="container">
 <div class="row">
   <div class="col-md-3">
   <div class="card text-center border-primary">
      <div class="card-body">
      <h3>Promo1</h3>
<p>
Lorem ipsum dolor, sit, 7
</p>
</div>
</div>
        </div>
            <div class="col-md-3">
                 <div class="card text-center bg-primary text white">
                    <div class="card-body">
                        <h3>Promo2</h3>
                        <p>
                            Lorem ipsum dolor, sit, 7
                        </p>
                    </div>
                </div>

            </div>
                <div class="col-md-3">
                    <div class="card text-center border-primary">
                        <div class="card-body">
                            <h3>Promo3</h3>
                            <p>
                                Lorem ipsum dolor, sit, 7
                            </p>
                        </div>
                    </div>
                </div>
<div class="col-md-3">
    <div class="card text-center bg-primary text white">
      <div class="card-body">
      <h3>Promo4</h3>
<p>
Lorem ipsum dolor, sit, 7
</p>
</div>
</div>
</div>
</div>
</div>
</section>